/* *********************************
           Variables
  ********************************** */
$break-small: 35rem;
$break-medium: 50rem;
$break-large: 75rem;
$break-xlarge: 100rem;

$navbar-height: 5rem;
