@import "../assets/scss/common-styles.scss";

.wrapper {
  display: grid;
}

.navbar {

}

.contents {
  padding: 0 5vw 10vh;
    @media screen and (min-width: $break-small) {
      padding: 0 10vw 10vh;
		}
    @media screen and (min-width: $break-medium) {
      padding: 0 15vw 10vh;
		}
    @media screen and (min-width: $break-large) {
      padding: 0 20vw 10vh;
		}

}