<div class="menu">

  <div class="name">
    <h1>]db[</h1>
  </div>

  <div class="icon-search">

  </div>
  <div class="search" #mySearchDiv>
    <input type="search" (blur)="onBlur()" (focus)="onFocus()" />
  </div>

  <input id="navigation-checkbox" class="navigation-checkbox" type="checkbox" [(ngModel)]="hamburger">
  <label class="hamburger" for="navigation-checkbox"></label>
  <nav>
    <ul>
      <li><a routerLink="/">home</a></li>
      <li><a routerLink="/about">about</a></li>
    </ul>
  </nav>
</div>