@import "../../assets/scss/common-styles.scss";

/* *********************************
           Variables
  ********************************** */
$hamburger-width: 30px;
$searchbox-width: 40px;

$light-color: $global-light-color;
$hamburger-color: $light-color;
$dark-color: $global-dark-color;
$search-background: $global-background;
/* *********************************
           Grid
  ********************************** */

.nav-name {
  display: flex;
  align-items: center;
  justify-content: center;
  height: $navbar-height;
  background: $dark-color;
  color: $light-color;
}

.nav-name h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  height: $navbar-height;
  margin: 0;
  vertical-align: middle;
  color: $light-color;
}

.nav-search {
  position: absolute;
  top: 0;
  width: 25vw;
  right: 0;
  height: $navbar-height;
  background: $dark-color;
}

.nav-menu {
  position: absolute;
  top: 0;
  width: 25vw;
  left: 0;
  height: $navbar-height;
  background: $dark-color;}

/* *********************************
           Styles
  ********************************** */

ul,li{
  padding:0;
  margin:0 auto; 
}

.menu{
  height: $navbar-height;
  background: $dark-color;
}

nav {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(-100%);
  width: 100%;
  li{
    list-style:none;
    text-align:center;
    a{
      display:block;
      padding: 15px;
      background: $light-color;
      color: $dark-color;
      text-decoration: none;
      font-size: 24pt;
      &:hover{
        background: darken($light-color, 10%);
        text-decoration: none;
      }
    }
  }
}

@media screen and (min-width: $break-small) {
	nav {
    transform: none;
    li {
      float: left;
      a {
        height: calc(#{$navbar-height} - 1rem);
        margin: 0;
        padding: 0.5rem;
        display: table-cell;
        text-align: center;
        vertical-align: middle;
        background: $dark-color;
        color: $light-color;
            &:hover{
              background: darken($dark-color, 10%);
            }
      }
    }
  }
}

/* *********************************
           Hamburger animation
  ********************************** */
input[type="checkbox"].navigation-checkbox {
  display: none;
}

input[type="checkbox"].navigation-checkbox:checked + label + nav {
  transform: translateY($navbar-height);
}

input[type="checkbox"].navigation-checkbox:checked + .hamburger {
  		&::before, &::after {
  			transition: box-shadow 0.2s, transform 0.5s 0.2s;
  		}
  		&::before {
  			transform:
  				rotate(45deg)
  				translate(8.5px, 8.5px);
	  	}
  		&::after {
		  	transform:
			  	rotate(-45deg)
		  		translate(8.5px, -8.5px);
	  		box-shadow: 0 -8.5px 0 0 transparent;
  		}
  	}
	


.hamburger {
		position: absolute;
		top: 25px;
		right: calc(12.5vw - (#{$hamburger-width} / 2));
		@media screen and (min-width: $break-small) {
			display: none;
		}
}

.hamburger {
	height: 30px;
	width: $hamburger-width;
	background: transparent;
	cursor: pointer;
	$hamburger-color: $hamburger-color;
	&::before,
	&::after {
		content: '';
		position: absolute;
		top: 0;
		display: block;
		height: 5px;
		width: 100%;
		border-radius: 1px;
		background: $hamburger-color;
		transition: box-shadow 0.2s 0.2s, transform 0.3s;
	}
	&::after {
		top: auto;
		bottom: 0;
		box-shadow: 0 -12px 0 0 $hamburger-color;
	}
}

/* *********************************
           Search animation
  ********************************** */

  input[type=search] {
    position: absolute;
    top: $navbar-height / 4;
    right: calc(12.5vw - #{$searchbox-width} / 2);
  	outline: none;

	  background: $search-background url(https://static.tumblr.com/ftv85bp/MIXmud4tx/search-icon.png) no-repeat 9px center;
    padding: 9px 10px 9px 32px;
    width: $searchbox-width;
    
    -webkit-border-radius: 10em;
    -moz-border-radius: 10em;
    border-radius: 10em;
    
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    transition: all .5s;

	  padding-left: 10px;
	  color: transparent;
	  cursor: pointer;
    &::-webkit-input-placeholder {
        color: transparent;
      }
    @media screen and (min-width: $break-small) {
	    width: $searchbox-width * 2;

		}
    @media screen and (min-width: $break-medium) {
	    width: $searchbox-width * 4;
   	  padding-left: 35px;
      &:focus::-webkit-input-placeholder {
         color: transparent;
       }
      &::-webkit-input-placeholder {
        color: $dark-color;
        opacity: 0.4;
      }
		}
  }

  input[type=search]:focus {
    height: $navbar-height/2;
	  width: 80vw;
    right: 10vw;
	  padding-left: 32px;
	  color: $dark-color;
	  background-color: $search-background;
	  cursor: auto;
    font-size: 1.5rem;
    @media screen and (min-width: $break-small) {
	    width: 30vw;
		}    
    @media screen and (min-width: $break-medium) {
	    width: 35vw;
		}
}

.nav-search {
    z-index: 99999;
    background: $dark-color;
}

