@import "../../assets/scss/variables.scss";

/* *********************************
           Variables
  ********************************** */
$break-small: 35rem;
$break-medium: 50rem;
$break-large: 75rem;
$break-xlarge: 100rem;

$navbar-height: 5rem;

$light-color: rgb(78, 177, 186);
$hamburger-color: $light-color;
$dark-color: rgb(30, 60, 70);
/* *********************************
           Grid
  ********************************** */
.menu {
}

.name {
  position: absolute;
  top: 0;
  left: 0;
  padding-left: 1rem;
  padding-right: 1rem;
  background: $dark-color;
  color: $light-color;
}

.icon-search {
  position: absolute;
  top: 0;
  right: $navbar-height;
  width: $navbar-height;
  height: $navbar-height;
  background: $dark-color;
}

/* *********************************
           Styles
  ********************************** */

ul,li{
  padding:0;
  margin:0 auto; 
}

.menu{
  height: $navbar-height;
  background: $dark-color;
}

.icon-menu{
}
nav {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(-100%);
  width: 100vw;
  li{
    list-style:none;
    text-align:center;
    a{
      display:block;
      padding: 15px;
      background: $light-color;
      color: $dark-color;
      text-decoration: none;
      font-size: 24pt;
      &:hover{
        background:  darken(#0099cc, 5%);
        text-decoration: none;
      }
    }
  }
}

/* *********************************
           Hamburger animation
  ********************************** */
input[type="checkbox"].navigation-checkbox {
  display: none;
}

input[type="checkbox"].navigation-checkbox:checked + label + nav {
  transform: translateY($navbar-height);
}

input[type="checkbox"].navigation-checkbox:checked + .hamburger {
  		&::before, &::after {
  			transition: box-shadow 0.2s, transform 0.5s 0.2s;
  		}
  		&::before {
  			transform:
  				rotate(45deg)
  				translate(8.5px, 8.5px);
	  	}
  		&::after {
		  	transform:
			  	rotate(-45deg)
		  		translate(8.5px, -8.5px);
	  		box-shadow: 0 -8.5px 0 0 transparent;
  		}
  	}
	


.hamburger {
		position: absolute;
		top: 25px;
		right: 25px;
		@media screen and (min-width: $break-medium) {
			display: none;
		}
}

.hamburger {
	height: 30px;
	width: 30px;
	background: transparent;
	cursor: pointer;
	$hamburger-color: lighten($hamburger-color, 10%);
	&::before,
	&::after {
		content: '';
		position: absolute;
		top: 0;
		display: block;
		height: 5px;
		width: 100%;
		border-radius: 1px;
		background: $hamburger-color;
		transition: box-shadow 0.2s 0.2s, transform 0.3s;
	}
	&::after {
		top: auto;
		bottom: 0;
		box-shadow: 0 -12px 0 0 $hamburger-color;
	}
}

/* *********************************
           Search animation
  ********************************** */

  input[type=search] {
    position: absolute;
    top: $navbar-height / 4;
    right: $navbar-height / 4;
  	outline: none;

	  background: rgb(245, 245, 245) url(https://static.tumblr.com/ftv85bp/MIXmud4tx/search-icon.png) no-repeat 9px center;
    padding: 9px 10px 9px 32px;
    width: 40px;
    
    -webkit-border-radius: 10em;
    -moz-border-radius: 10em;
    border-radius: 10em;
    
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    transition: all .5s;

	  padding-left: 10px;
	  color: transparent;
	  cursor: pointer;
  }

  input[type=search]:focus {
    height: $navbar-height/2;
	  width: 80vw;
    right: 10vw;
	  padding-left: 32px;
	  color: #000;
	  background-color: #fff;
	  cursor: auto;
    font-size: 1.5rem;
}

.search {
    position: absolute;
    z-index: 99999;
    background: $dark-color;
    height: $navbar-height;
    right:$navbar-height;
    top: 0;
    width: $navbar-height;
}

