<div class="menu">

  <div class="nav-name">
    <h1 class="site-title">beyondbrackets</h1>
  </div>

  <div class="nav-search" #mySearchDiv>
    <input type="search" (blur)="onBlur()" (focus)="onFocus()" placeholder="search..." />
  </div>

  <div class="nav-menu">
    <input id="navigation-checkbox" class="navigation-checkbox" type="checkbox" [(ngModel)]="hamburger">
    <label class="hamburger" for="navigation-checkbox"></label>
    <nav>
      <ul>
        <li class="nav-menu-home"><a routerLink="/">home</a></li>
        <!-- <li class="nav-menu-about"><a routerLink="/about">about</a></li> -->
        <li class="nav-menu-posts"><a routerLink="/posts">posts</a></li>
      </ul>
    </nav>
  </div>
</div>